<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Creado por</th>
          <th>Creado</th>
          <th class="col-xs-1">Estado</th>
        </tr>
      </thead>
      <tbody>
        {% for cupon in cupones %}
        <tr>
          <td ><a href="{% url 'render_descuento' %}?id={{ cupon.id }}" class="modal-triguer">{{ cupon.codigo }}</a></td>
          <td>{{ cupon.creado_por }}</td>
          <td>{{ descuento.creado }}</td>
          <td>{{ descuento.vence_en }}</div>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>