<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Descuento</h4>
</div>
<div class="modal-body">
    <input type="hidden" id="id" name="id" value="{{ descuento.id|default_if_none:'' }}">
    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="row">
        <div class="form-group col-sm-12 col-xs-12">
            <label for="">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required="required"
                   value="{{ descuento.nombre|default_if_none:'' }}">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="">Porcentaje</label>
            <input type="number" min="1" max="100" class="form-control" id="porcentaje" name="porcentaje" required="required"
                    value="{{ descuento.porcentaje_descuento|default_if_none:10 }}">
        </div>
        <div class="form-group col-sm-6 col-xs-12">
            <label for="">Vigencia (días)</label>
            <input type="number" min="1" max="100" class="form-control" id="vigencia" name="vigencia" required="required"
                    value="{{ descuento.vigencia|default_if_none:5 }}">
        </div>
    </div>

    {% if descuento.comercio.tiene_descuento_vigencia %}
         <div class="innerWrapper clearfix row" style="margin-left: inherit !important; padding: inherit !important; ">
            <div class="alert alert-success fade in">
              <strong>Segmentacion de vigencia:</strong>
                Permite segmentar el porcentaje de descuento que usted desea otorgar basado en una fecha de vigencia
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                <label for="">Vigencia (días)</label>
                <input type="number" min="1" max="100" class="form-control" id="vigencia" name="vigencia" required="required"
                        value="{{ descuento.vigencia|default_if_none:3 }}">
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                <label for="">% Antes</label>
                <input type="number" min="1" max="100" class="form-control" id="vigencia" name="vigencia" required="required"
                        value="{{ descuento.desc_dia_vigencia_porc_inf|default_if_none:1 }}">
            </div>
            <div class="form-group col-sm-4 col-xs-12">
                <label for="">% Despues</label>
                <input type="number" min="1" max="100" class="form-control" id="vigencia" name="vigencia" required="required"
                        value="{{ descuento.desc_dia_vigencia_porc_sup|default_if_none:10 }}">
            </div>
         </div>
    {% else %}
        <div class="alert alert-success fade in">
          <strong>Segmentacion por vigencia:</strong>
            Permite segmentar el porcentaje de descuento que usted desea otorgar basado en una fecha de vigencia
            <span class="label label-primary">Premium</span>
        </div>
    {% endif %}
    {% if descuento.comercio.tiene_descuento_compra_minima %}
    {% else %}
        <div class="alert alert-success fade in">
          <strong>Segmentacion por compra minima:</strong>
            Permite segmentar el porcentaje de descuento que usted desea otorgar si el cliente realiza una compra minima
            <span class="label label-primary">Premium</span>
        </div>
    {% endif %}
    <button class="btn btn-primary btn-block" onclick="guardarDescuento()">Guardar <i class="fa fa-save fa-fw"></i></button>


</div>