{% extends "arca/base2.html" %}

{% block page-tible %}PERFIL{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'arca_index' %}">Inicio</a></li>

<li class="active">Perfil</li>
{% endblock %}
{% block main-content %}
    <div class="row ">
        <div class="col-xs-12 ">
          <div class="btn-group" role="group" aria-label="...">
            {% comment %}<a href="account-dashboard.html" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i>Account Dashboard</a>{% endcomment %}
            <a href="#" class="btn btn-default active"><i class="fa fa-user" aria-hidden="true"></i>Profile</a>
            <a href="{% url 'registrar_negocio' %}" class="btn btn-default active"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Registra tu negocio</a>
            {% comment %}<a href="account-address.html" class="btn btn-default"><i class="fa fa-map-marker" aria-hidden="true"></i>My Address</a>
            <a href="account-all-orders.html" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i>All Orders</a>
            <a href="account-wishlist.html" class="btn btn-default"><i class="fa fa-gift" aria-hidden="true"></i>Wishlist</a>
            {% endcomment %}
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <div class="innerWrapper profile">
            <div class="orderBox">
              <h4>Mi perfil</h4>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-3 col-xs-12">
                <div class="thumbnail">
                  <img src="{{ user.profile.imagen_url }}" alt="profile-image">
                  {% comment %}<div class="caption">
                    <a href="#" class="btn btn-primary btn-block" role="button">Change Avatar</a>
                  </div>{% endcomment %}
                </div>
              </div>
              <div class="col-md-10 col-sm-9 col-xs-12">
                  <form method="POST" action="{% url 'account_profile' %}" class="form-horizontal">
                      {% csrf_token %}
                      {% if success_message %}
                          <div class="alert alert-success alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <strong>En hora buena!</strong> {{ success_message }}
                          </div>
                      {% endif %}
                    <div class="form-group">
                      <label for="" class="col-md-2 col-sm-3 control-label">Nombre</label>
                      <div class="col-md-10 col-sm-9">
                        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="" value="{{ user.first_name }}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-2 col-sm-3 control-label">Apellido</label>
                      <div class="col-md-10 col-sm-9">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="" value="{{ user.last_name }}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-2 col-sm-3 control-label">Movil</label>
                      <div class="col-md-10 col-sm-9">
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="" value="{{ user.profile.telefono }}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-2 col-sm-3 control-label">Correo</label>
                      <div class="col-md-10 col-sm-9">
                        <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{ user.email }}">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-2 col-sm-3 control-label">Contraseña</label>
                      <div class="col-md-10 col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-md-2 col-sm-3 control-label">Nueva contraseña</label>
                      <div class="col-md-10 col-sm-9">
                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
                        <button type="submit" class="btn btn-primary btn-block">GUARDAR</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
