<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Title - Site Title</title>
    <link rel="icon" href="/static/assets/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/assets/img/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <!--
    edit to
    theme-1-bootstrap.css
    theme-2-bootstrap.css
    theme-3-bootstrap.css
    theme-4-bootstrap.css
    theme-5-bootstrap.css
    theme-6-bootstrap.css
    theme-7-bootstrap.css
    -->
    <link id="bootstrap_theme" rel="stylesheet" href="/static/assets/css/theme-2-bootstrap.css">
    <link rel="stylesheet" href="/static/assets/css/vendor.css">
    <!--
    edit to
    theme-1.css
    theme-2.css
    theme-3.css
    theme-4.css
    theme-5.css
    theme-6.css
    theme-7.css
    same as bootstrap theme above
    -->
    <link id="theme" rel="stylesheet" href="/static/assets/css/theme-2.css">
    <link rel="stylesheet" href="/static/assets/css/demo.css">
    <link rel="stylesheet" href="/static/assets/css/custom.css">
    <script src="/static/assets/js/modernizr.js"></script>
  </head>
  <body><!--[if lt IE 8]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.
    </p><![endif]-->
    <div class="site">
      <div id="site_loader" class="site-loader">
        <div class="spinner"><span class="bounce"></span><span class="bounce"></span><span class="bounce"></span></div>
      </div>
      <!-- .site-loader-->

      <!-- .theme-option-->
      <div class="site-canvas">
        <div id="site_header" class="site-header">
          <nav id="site_header_navbar" class="site-header-navbar navbar navbar-fixed-top navbar-lg navbar-bg-from-transparent navbar-fg-from-light navbar-light">
            <div class="container">
              <div class="navbar-header">
                <button type="button" data-toggle="collapse" data-target="#site_header_navbar_collapse" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand navbar-brand-has-media"><span class="navbar-brand-elem-wrap"><span class="text">Brand</span>
                  <img src="/static/assets/img/site-header-navbar-brand-media-img-dark.png" alt="" class="navbar-brand-media-img navbar-brand-media-img-dark">
                  <img src="/static/assets/img/site-header-navbar-brand-media-img-light.png" alt="" class="navbar-brand-media-img navbar-brand-media-img-light">
              </span></a>
              </div>
              <div id="site_header_navbar_collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#page_intro_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Inicio</span></span></a></li>
                  <li><a href="#service_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Caracteristicas</span></span></a></li>
                  <li><a href="#portfolio_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Afilia tu comercio</span></span></a></li>
                  <li><a href="#testimonial_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Testimonial</span></span></a></li>
                  <li><a href="#pricing_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Pricing</span></span></a></li>
                  <li><a href="#subscribe_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Subscribe</span></span></a></li>
                  <li><a href="#faq_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">FAQ</span></span></a></li>
                  <li><a href="#contact_section" data-smooth-scroll="true"><span class="navbar-nav-elem-wrap"><span class="text">Contact</span></span></a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse-->
            </div>
            <!-- /.container-fluid-->
          </nav>
          <!-- .navbar-->
        </div>
        <!-- .site-header-->
        <div id="site_content" class="site-content">
          <div id="page_intro_section" class="align align-middle page-intro-section page-intro-section-md section section-md bg-primary">
            <div class="align-container">
              <div class="container">
                <div class="flexible-widgets row d-sm-flex flex-items-sm-middle">
                  <div class="widget-section widget widget_text wow fadeInUpShort col-sm-6 text-center text-sm-inherit">
                    <div class="widget-wrap">
                      <h1 class="widget-title primary-text-light">Descubre un mundo de descuentos!</h1>
                      <div class="textwidget">
                        <p class="text-lead primary-text-light">Empieza a ahorrar con nosotros, descarga la app y descubre los descuentos que nuestros comercios afiliados estan ofertando.</p>
                        <div>
                          <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="dropdown-toggle btn btn-wide btn-outline btn-default"><span class="btn-elem-wrap"><span class="icon fa fa-download"></span><span class="text">Descarga la App</span></span></button>
                            <ul class="dropdown-menu">
                              <li class="dropdown-header"><span class="dropdown-elem-wrap"><span class="text">Escoge tu version</span></span></li>
                              <li><a href="#"><span class="dropdown-elem-wrap"><span class="icon fa fa-android"></span><span class="text">Google Play</span></span></a></li>
                              {% comment %}<li><a href="#"><span class="dropdown-elem-wrap"><span class="icon fa fa-apple"></span><span class="text">App Store</span></span></a></li>{% endcomment %}
                            </ul>
                          </div><span class="pr-sm"></span><a href="#" data-mfp-src="https://www.youtube.com/watch?v=LViVa-kKqzA" class="btn btn-wide btn-secondary popup-youtube"><span class="btn-elem-wrap"><span class="icon fa fa-play"></span><span class="text">Watch Video</span></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-wow-delay="100ms" class="widget-section widget widget_text col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-5 col-md-offset-1 mt-vr mt-sm-0 wow fadeInUpShort">
                    <div class="widget-wrap">
                      <div class="textwidget"><img src="/static/assets/img/page-intro-phone.png" alt="" class="img-responsive mx-auto"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="service_section" class="service-section section section-md bg-light">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-dark">Caracteristicas</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-dark">Aqui se puede poner un texto general... cual seria ese texto?</p>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card media-object-card card-light">
                        <div class="media">
                          <div class="media-left"><img src="/static/assets/img/service-icon-1.png" alt="" class="media-object avatar avatar-lg">
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Información de comercios</h4>
                            <p>
                              Contiene información actualizada sobre los comercios afiliados. La información que brinda ARCA te permite contactar fácilmente con el comercio que buscas
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="200ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card media-object-card card-light">
                        <div class="media">
                          <div class="media-left"><img src="/static/assets/img/service-icon-2.png" alt="" class="media-object avatar avatar-lg">
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Descuentos Vigentes</h4>
                            <p>
                              Arca te permite visualizar con facilidad los descuentos en los comercios afiliados
                                <br>
                                <br>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="300ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card media-object-card card-light">
                        <div class="media">
                          <div class="media-left"><img src="/static/assets/img/service-icon-3.png" alt="" class="media-object avatar avatar-lg">
                          </div>
                          <div class="media-body">
                            <h4 class="media-heading">Trabaja fuera de línea</h4>
                            <p>
                              No importa el lugar donde te encuentres. ARCA no necesita conexion a internet.
                                <br>
                                <br>
                                <br>

                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="portfolio_section" class="portfolio-section section section-md bg-light-dk">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-dark">Our recent works</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flexible-widgets row popup-gallery">
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card card-light">
                        <div class="card-media"><a href="/static/assets/img/portfolio-1-popup.jpg" class="popup-gallery-link"><img src="/static/assets/img/portfolio-1.jpg" alt="" class="card-img"></a></div>
                        <div class="card-header">
                          <div class="card-avatar"><img src="/static/assets/img/portfolio-avatar-1.png" alt="" class="avatar"></div>
                          <div class="card-text"><span class="title">Title Goes Here</span><span class="subtitle">Subtitle here</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="200ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card card-light">
                        <div class="card-media"><a href="/static/assets/img/portfolio-2-popup.jpg" class="popup-gallery-link"><img src="/static/assets/img/portfolio-2.jpg" alt="" class="card-img"></a></div>
                        <div class="card-header">
                          <div class="card-avatar"><img src="/static/assets/img/portfolio-avatar-2.png" alt="" class="avatar"></div>
                          <div class="card-text"><span class="title">Title Goes Here</span><span class="subtitle">Subtitle here</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="300ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card card-light">
                        <div class="card-media"><a href="/static/assets/img/portfolio-3-popup.jpg" class="popup-gallery-link"><img src="/static/assets/img/portfolio-3.jpg" alt="" class="card-img"></a></div>
                        <div class="card-header">
                          <div class="card-avatar"><img src="/static/assets/img/portfolio-avatar-3.png" alt="" class="avatar"></div>
                          <div class="card-text"><span class="title">Title Goes Here</span><span class="subtitle">Subtitle here</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="cta_section" class="cta-section section section-md  bg-primary">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-light">Call to action</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                      <p><a href="#pricing_section" data-smooth-scroll="true" class="btn btn-wide btn-secondary"><span class="btn-elem-wrap"><span class="text">Action Button</span></span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="testimonial_section" class="testimonial-section section section-md bg-light-dk">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-dark">Client testimonials</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-vr wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card blockquote-card card-light">
                        <div class="card-block">
                          <div class="card-title">
                            <div class="card-text"><span class="title">Great work</span><span class="subtitle"><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span></span></div>
                          </div>
                          <div class="card-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                          </div>
                        </div>
                        <div class="card-header">
                          <div class="card-avatar"><img src="/static/assets/img/client-testimonial-avatar-1.png" alt="" class="avatar"></div>
                          <div class="card-text"><span class="title">Jane Doe</span>
                            <cite class="subtitle">Blogger</cite>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="200ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-vr wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card blockquote-card card-light">
                        <div class="card-block">
                          <div class="card-title">
                            <div class="card-text"><span class="title">Great work</span><span class="subtitle"><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span></span></div>
                          </div>
                          <div class="card-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                          </div>
                        </div>
                        <div class="card-header">
                          <div class="card-avatar"><img src="/static/assets/img/client-testimonial-avatar-2.png" alt="" class="avatar"></div>
                          <div class="card-text"><span class="title">John Doe</span>
                            <cite class="subtitle">Blogger</cite>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="300ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-vr wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card blockquote-card card-light">
                        <div class="card-block">
                          <div class="card-title">
                            <div class="card-text"><span class="title">Great work</span><span class="subtitle"><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span><span class="icon fa fa-star"></span></span></div>
                          </div>
                          <div class="card-content">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                          </div>
                        </div>
                        <div class="card-header">
                          <div class="card-avatar"><img src="/static/assets/img/client-testimonial-avatar-3.png" alt="" class="avatar"></div>
                          <div class="card-text"><span class="title">Jane Doe</span>
                            <cite class="subtitle">Blogger</cite>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="pricing_section" class="pricing-section section section-md bg-light">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-dark">Pricing Tables</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card pricing-table-card card-light">
                        <div class="card-media"><img src="/static/assets/img/pricing-table-icon-1.png" alt="" width="72" height="72" class="img"></div>
                        <div class="card-title">
                          <div class="card-text"><span class="title">Starter</span><span class="price"><span class="currency">$</span><span class="value">19.9</span><span class="per">/mo</span></span></div>
                        </div>
                        <div class="card-content">
                          <ul>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                          </ul>
                        </div>
                        <div class="card-cta"><a href="#" class="btn btn-wide btn-primary"><span class="btn-elem-wrap"><span class="text">Purchase</span></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="200ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card pricing-table-card card-light"><span class="card-badge"><span class="icon fa fa-star"></span></span>
                        <div class="card-media"><img src="/static/assets/img/pricing-table-icon-2.png" alt="" width="72" height="72" class="img"></div>
                        <div class="card-title">
                          <div class="card-text"><span class="title">Premium</span><span class="price"><span class="currency">$</span><span class="value">29.9</span><span class="per">/mo</span></span></div>
                        </div>
                        <div class="card-content">
                          <ul>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                          </ul>
                        </div>
                        <div class="card-cta"><a href="#" class="btn btn-wide btn-primary"><span class="btn-elem-wrap"><span class="text">Purchase</span></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="300ms" class="widget-section widget widget_text col-sm-6 col-md-4 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card pricing-table-card card-light">
                        <div class="card-media"><img src="/static/assets/img/pricing-table-icon-3.png" alt="" width="72" height="72" class="img"></div>
                        <div class="card-title">
                          <div class="card-text"><span class="title">Ultimate</span><span class="price"><span class="currency">$</span><span class="value">39.9</span><span class="per">/mo</span></span></div>
                        </div>
                        <div class="card-content">
                          <ul>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                            <li><span class="elem-wrap"><span class="text">Plan feature item</span></span></li>
                          </ul>
                        </div>
                        <div class="card-cta"><a href="#" class="btn btn-wide btn-primary"><span class="btn-elem-wrap"><span class="text">Purchase</span></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="subscribe_section" class="subscribe-section section section-md  bg-primary">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-light">Subscribe to our newsletter</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-md-6 col-md-offset-3 wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card card-light">
                        <form id="subscribe_form" data-action="/static/assets/php/mailchimp.php" novalidate="novalidate" class="form md-form py-lg px-md form-light">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="subscribe_form_first_name" class="form-label">First Name</label>
                                <div class="md-form-line-wrap">
                                  <input id="subscribe_form_first_name" type="text" name="fname" placeholder="First Name" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="subscribe_form_last_name" class="form-label">Last Name</label>
                                <div class="md-form-line-wrap">
                                  <input id="subscribe_form_last_name" type="text" name="lname" placeholder="Last Name" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="subscribe_form_email" class="form-label">Email address<span class="asterisk-symbol">*</span></label>
                                <div class="md-form-line-wrap">
                                  <input id="subscribe_form_email" type="email" name="email" placeholder="Email" data-rule-required="true" data-rule-email="true" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group mb-0">
                                <button type="submit" class="btn btn-block btn-secondary"><span class="btn-elem-wrap"><span class="text">Subscribe</span></span></button><span style="display: none;" class="form-notify help-block mb-0"></span>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="faq_section" class="faq-section section section-md bg-light">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-dark">Frequently Asked Questions</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div id="accordion_1" class="expansion-panel-group expansion-panel-group-light">
                        <div class="expansion-panel panel"><a data-toggle="collapse" data-parent="#accordion_1" href="#collapse_1" class="expansion-panel-header active"><span class="expansion-panel-text"><span class="expansion-panel-text-elem-wrap"><span class="title">Frequently Asked Questions #1</span></span></span><span class="expansion-panel-cta"><span class="expansion-panel-cta-elem-wrap"><span class="icon icon-fw icon-active fa fa-minus"></span><span class="icon icon-fw icon-inactive fa fa-plus"></span></span></span></a>
                          <div id="collapse_1" class="accordion-body collapse in">
                            <div class="expansion-panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                          </div>
                        </div>
                        <div class="expansion-panel panel"><a data-toggle="collapse" data-parent="#accordion_1" href="#collapse_2" class="expansion-panel-header"><span class="expansion-panel-text"><span class="expansion-panel-text-elem-wrap"><span class="title">Frequently Asked Questions #2</span></span></span><span class="expansion-panel-cta"><span class="expansion-panel-cta-elem-wrap"><span class="icon icon-fw icon-active fa fa-minus"></span><span class="icon icon-fw icon-inactive fa fa-plus"></span></span></span></a>
                          <div id="collapse_2" class="accordion-body collapse">
                            <div class="expansion-panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                          </div>
                        </div>
                        <div class="expansion-panel panel"><a data-toggle="collapse" data-parent="#accordion_1" href="#collapse_3" class="expansion-panel-header"><span class="expansion-panel-text"><span class="expansion-panel-text-elem-wrap"><span class="title">Frequently Asked Questions #3</span></span></span><span class="expansion-panel-cta"><span class="expansion-panel-cta-elem-wrap"><span class="icon icon-fw icon-active fa fa-minus"></span><span class="icon icon-fw icon-inactive fa fa-plus"></span></span></span></a>
                          <div id="collapse_3" class="accordion-body collapse">
                            <div class="expansion-panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                          </div>
                        </div>
                        <div class="expansion-panel panel"><a data-toggle="collapse" data-parent="#accordion_1" href="#collapse_4" class="expansion-panel-header"><span class="expansion-panel-text"><span class="expansion-panel-text-elem-wrap"><span class="title">Frequently Asked Questions #4</span></span></span><span class="expansion-panel-cta"><span class="expansion-panel-cta-elem-wrap"><span class="icon icon-fw icon-active fa fa-minus"></span><span class="icon icon-fw icon-inactive fa fa-plus"></span></span></span></a>
                          <div id="collapse_4" class="accordion-body collapse">
                            <div class="expansion-panel-body">
                              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
          <div id="contact_section" class="contact-section section section-md bg-light-dk">
            <div class="container">
              <div class="flexible-widgets row">
                <div class="widget-section widget widget_text wow fadeInUpShort col-md-8 col-md-offset-2 mb-xl text-center">
                  <div class="widget-wrap">
                    <h2 class="widget-title primary-text-dark">Get in touch</h2>
                    <div class="textwidget">
                      <p class="text-lead primary-text-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flexible-widgets row d-sm-flex flex-items-sm-middle">
                <div data-wow-delay="100ms" class="widget-section widget widget_text col-sm-7 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-1 mb-gg wow fadeInUpShort">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div class="card card-light">
                        <div class="card-title pt-md bg-primary">
                          <div class="card-text">
                            <div class="title primary-text-light">Get in touch with us</div>
                            <div class="subtitle secondary-text-light">We build effective corporate websites</div>
                          </div>
                        </div>
                        <form id="contact_form" data-action="/static/assets/php/contact.php" novalidate="novalidate" class="form md-form py-lg px-md form-light">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="contact_form_name" class="form-label">Name<span class="asterisk-symbol">*</span></label>
                                <div class="md-form-line-wrap">
                                  <input id="contact_form_name" type="text" name="name" placeholder="Name" data-rule-required="true" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="contact_form_email" class="form-label">Email address<span class="asterisk-symbol">*</span></label>
                                <div class="md-form-line-wrap">
                                  <input id="contact_form_email" type="email" name="email" placeholder="Email" data-rule-required="true" data-rule-email="true" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="contact_form_subject" class="form-label">Subject<span class="asterisk-symbol">*</span></label>
                                <div class="md-form-line-wrap">
                                  <input id="contact_form_subject" type="text" name="subject" placeholder="Subject" data-rule-required="true" class="form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="contact_form_message" class="form-label">Message<span class="asterisk-symbol">*</span></label>
                                <div class="md-form-line-wrap">
                                  <textarea id="contact_form_message" rows="4" name="message" placeholder="Message" data-rule-required="true" class="form-control"></textarea>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group mb-0">
                                <button type="submit" class="btn btn-block btn-primary"><span class="btn-elem-wrap"><span class="text">Submit</span></span></button><span style="display: none;" class="form-notify help-block mb-0"></span>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widget-section widget widget_text col-sm-5 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-1">
                  <div class="widget-wrap">
                    <div class="textwidget">
                      <div data-wow-delay="200ms" class="card card media-object-card mb-gg card-light wow fadeInUpShort">
                        <div class="media">
                          <div class="media-left"><img src="/static/assets/img/contact-info-icon-1.png" alt="" class="media-object avatar avatar-lg"></div>
                          <div class="media-body">
                            <h4 class="media-heading">Office location</h4>
                            <p>1000 Friendship Lane,<br>Mountain View, CA 1000</p>
                          </div>
                        </div>
                      </div>
                      <div data-wow-delay="300ms" class="card card media-object-card mb-gg card-light wow fadeInUpShort">
                        <div class="media">
                          <div class="media-left"><img src="/static/assets/img/contact-info-icon-2.png" alt="" class="media-object avatar avatar-lg"></div>
                          <div class="media-body">
                            <h4 class="media-heading">Phone number</h4>
                            <p><b>Tel:</b> +0 123-456-7890<br><b>Fax:</b> +0 123-456-7890</p>
                          </div>
                        </div>
                      </div>
                      <div data-wow-delay="400ms" class="card card media-object-card mb-gg card-light wow fadeInUpShort">
                        <div class="media">
                          <div class="media-left"><img src="/static/assets/img/contact-info-icon-3.png" alt="" class="media-object avatar avatar-lg"></div>
                          <div class="media-body">
                            <h4 class="media-heading">Email address</h4>
                            <p><b>General:</b> email@example.com<br><b>Support:</b> email@example.com</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .section-->
        </div>
        <!-- .site-content-->
        <div id="site_footer">
          <div id="site_footer_info" class="site-footer-info section section-sm text-center bg-dark">
            <div class="container">
              <nav class="site-footer-social-nav mb-lg">
                <ul class="site-footer-social-menu list-inline ml-0">
                  <li data-wow-delay="100ms" class="menu-item px-md wow fadeInUpShort"><a href="https://www.facebook.com/" target="_blank" class="primary-text-light"><span>Facebook</span></a></li>
                  <li data-wow-delay="200ms" class="menu-item px-md wow fadeInUpShort"><a href="https://twitter.com/" target="_blank" class="primary-text-light"><span>Twitter</span></a></li>
                  <li data-wow-delay="300ms" class="menu-item px-md wow fadeInUpShort"><a href="https://plus.google.com/" target="_blank" class="primary-text-light"><span>Google+</span></a></li>
                  <li data-wow-delay="400ms" class="menu-item px-md wow fadeInUpShort"><a href="https://dribbble.com/" target="_blank" class="primary-text-light"><span>Dribbble</span></a></li>
                  <li data-wow-delay="500ms" class="menu-item px-md wow fadeInUpShort"><a href="https://www.instagram.com/" target="_blank" class="primary-text-light"><span>Instagram</span></a></li>
                </ul>
              </nav>
              <div data-wow-delay="600ms" class="site-footer-copyright secondary-text-light wow fadeInUpShort">Copyright © 2016 BFC. All Rights Reserved.</div>
            </div>
          </div>
          <!-- .section-->
        </div>
        <!-- .site-footer-->
      </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/vendor.js"></script>
    <script src="/static/assets/js/main.js"></script>
    <script src="/static/assets/js/demo.js"></script>
  </body>
</html>