{% extends "arca/base2.html" %}

{% block page-tible %}REGISTRO DE NEGOCIO{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'arca_index' %}">Inicio</a></li>
<li class="active">Registro de negocio</li>
{% endblock %}
{% block main-content %}
<div class="row ">
    <div class="col-xs-12 stepsWrapper">
      <div class="innerWrapper clearfix stepsPage">
        <div class="row progress-wizard" style="border-bottom:0;">

          <div class="col-xs-3 progress-wizard-step complete fullBar">
            <div class="text-center progress-wizard-stepnum">General</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="{% url 'registrar_negocio_st1' %}" class="progress-wizard-dot"></a>
          </div>

          <div class="col-xs-3 progress-wizard-step complete fullBar">
            <div class="text-center progress-wizard-stepnum">Detalles</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="{% url 'registrar_negocio_st2' %}" class="progress-wizard-dot"></a>
          </div>

          <div class="col-xs-3 progress-wizard-step active">
            <div class="text-center progress-wizard-stepnum">Autenticación</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="{% url 'registrar_negocio_st3' %}" class="progress-wizard-dot"></a>
          </div>

          <div class="col-xs-3 progress-wizard-step disabled">
            <div class="text-center progress-wizard-stepnum">Confirmacion</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="checkout-step-3.html" class="progress-wizard-dot"></a>
          </div>

        </div>

        <form id="form-wizar" action="{% url 'registrar_negocio_st4' %}" class="row" method="post" role="form">
            {% csrf_token %}
          <div class="col-xs-12">
            <div class="page-header">
              <h4>Tus datos para que pudas ingresar..</h4>
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <label for="">Nombre</label>
            <input class="form-control" id="usuario_nombre" name="usuario_nombre" type="text" required>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <label for="">Apellido</label>
            <input class="form-control" id="usuario_apellido" name="usuario_apellido" type="text" required>
          </div>
          <div class="form-group col-sm-12">
            <label for="">Correo Electronico</label>
            <input class="form-control" id="email" name="email" type="text" required>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <label for="">Contraseña</label>
            <input class="form-control" id="password" name="password" type="password" required>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <label for="">Contraseña Confirmacion</label>
            <input class="form-control" id="password_conf" name="password_conf" type="password" required>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <div id="alert-messages"></div>
          </div>
          <div class="col-xs-12">
            <div class="well well-lg clearfix">
              <ul class="pager">
                <li class="previous"><a href="#" >Regresar</a></li>
                <li class="next"><a  href="javascript:submit_form()">Continuar</a></li>
                  <button id="submmitbutton" type="submit" class="hide"></button>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
{% block script-block %}
    <script>

        var password = document.getElementById("password") , confirm_password = document.getElementById("password_conf");
        function validatePassword(){
          if(password.value != confirm_password.value) {
              $("#alert-messages").empty().html('<div class="alert alert-danger alert-dismissible">' +
                                        '<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>' +
                                        '<strong>Error</strong> Contraseña no coincide' +
                                        '</div>');
                confirm_password.setCustomValidity("Passwords Don't Match");
              return false;
          } else {
            confirm_password.setCustomValidity('');
              return true;
          }
        }


        $(document).ready(function () {
            $(".previous").onClick(function () {
                history.back();
            });

            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        });
        function submit_form() {
            if(validatePassword())
               $( "#submmitbutton" ).trigger( "click" );
        }
    </script>
{% endblock script-block %}