<ul id="menu-main-menu" class="main-menu clearfix">
    <li id="menu-item-3596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-3596">
        <a href="http://realplaces.inspirythemes.biz/">Home</a>
        <ul class="sub-menu">
            <li id="menu-item-3618" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3618"><a href="http://realplaces.inspirythemes.biz/?module_below_header=slider&amp;slider_type=properties-slider">Home &#8211; Slider One</a></li>
            <li id="menu-item-3619" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3619"><a href="http://realplaces.inspirythemes.biz/?module_below_header=slider&amp;slider_type=properties-slider-two">Home &#8211; Slider Two</a></li>
            <li id="menu-item-3620" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3620"><a href="http://realplaces.inspirythemes.biz/?module_below_header=google-map">Home &#8211; Google Map</a></li>
            <li id="menu-item-3621" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3621"><a href="http://realplaces.inspirythemes.biz/?module_below_header=image-banner">Home &#8211; Image Banner</a></li>
            <li id="menu-item-3622" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3622"><a href="http://realplaces.inspirythemes.biz/?module_below_header=slider&amp;slider_type=revolution-slider">Home &#8211; Revolution Slider</a></li>
        </ul>
    </li>
    <li id="menu-item-3589" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3589">
        <a href="http://realplaces.inspirythemes.biz/list-layout-full-width/">Properties</a>
        <ul class="sub-menu">
            <li id="menu-item-3591" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3591"><a href="http://realplaces.inspirythemes.biz/list-layout-full-width/">List Layout Full Width</a></li>
            <li id="menu-item-3602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3602"><a href="http://realplaces.inspirythemes.biz/list-layout-with-sidebar/">List Layout With Sidebar</a></li>
            <li id="menu-item-3590" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-71 current_page_item menu-item-3590"><a href="index.html">Grid Layout Full Width</a></li>
            <li id="menu-item-3603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3603"><a href="http://realplaces.inspirythemes.biz/grid-layout-with-sidebar/">Grid Layout With Sidebar</a></li>
        </ul>
    </li>
    <li id="menu-item-3605" class="menu-item menu-item-type-post_type menu-item-object-property menu-item-has-children menu-item-3605">
        <a href="http://realplaces.inspirythemes.biz/property/villa-in-coral-gables/">Property</a>
        <ul class="sub-menu">
            <li id="menu-item-3604" class="menu-item menu-item-type-post_type menu-item-object-property menu-item-3604"><a href="http://realplaces.inspirythemes.biz/property/villa-in-coral-gables/">Variation One</a></li>
            <li id="menu-item-3580" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3580"><a href="http://realplaces.inspirythemes.biz/property/villa-in-coral-gables/?variation=2">Variation Two</a></li>
            <li id="menu-item-3581" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3581"><a href="http://realplaces.inspirythemes.biz/property/villa-in-coral-gables/?variation=3">Variation Three</a></li>
        </ul>
    </li>
    <li id="menu-item-3595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3595"><a href="http://realplaces.inspirythemes.biz/news/">News</a>
    </li>
    <li id="menu-item-3582" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3582">
        <a href="#">Pages</a>
        <ul class="sub-menu">
            <li id="menu-item-3594" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3594"><a href="http://realplaces.inspirythemes.biz/agents-2-columns/">Agents 2 Columns</a></li>
            <li id="menu-item-3593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3593"><a href="http://realplaces.inspirythemes.biz/agents-3-columns/">Agents 3 Columns</a></li>
            <li id="menu-item-3592" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3592"><a href="http://realplaces.inspirythemes.biz/agents-4-columns/">Agents 4 Columns</a></li>
            <li id="menu-item-3607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3607"><a href="http://realplaces.inspirythemes.biz/faqs/">FAQs</a></li>
            <li id="menu-item-3606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3606"><a href="http://realplaces.inspirythemes.biz/testimonials/">Testimonials</a></li>
            <li id="menu-item-3583" class="menu-item menu-item-type-taxonomy menu-item-object-property-city menu-item-3583"><a href="http://realplaces.inspirythemes.biz/property-city/miami/">Miami</a></li>
            <li id="menu-item-3584" class="menu-item menu-item-type-taxonomy menu-item-object-property-status menu-item-3584"><a href="http://realplaces.inspirythemes.biz/property-status/for-rent/">For Rent</a></li>
            <li id="menu-item-3585" class="menu-item menu-item-type-taxonomy menu-item-object-property-status menu-item-3585"><a href="http://realplaces.inspirythemes.biz/property-status/for-sale/">For Sale</a></li>
            <li id="menu-item-3586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3586"><a href="http://realplaces.inspirythemes.biz/sample-page/">Sample Page</a></li>
            <li id="menu-item-3623" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3623"><a href="http://realplaces.inspirythemes.biz/idx/">dsIDXpress Demo</a></li>
        </ul>
    </li>
    <li id="menu-item-3600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3600">
        <a href="http://realplaces.inspirythemes.biz/gallery-3-columns/">Galleries</a>
        <ul class="sub-menu">
            <li id="menu-item-3599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3599"><a href="http://realplaces.inspirythemes.biz/gallery-2-columns/">Gallery 2 Columns</a></li>
            <li id="menu-item-3598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3598"><a href="http://realplaces.inspirythemes.biz/gallery-3-columns/">Gallery 3 Columns</a></li>
            <li id="menu-item-3597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3597"><a href="http://realplaces.inspirythemes.biz/gallery-4-columns/">Gallery 4 Columns</a></li>
        </ul>
    </li>
    <li id="menu-item-3601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3601">
        <a href="http://realplaces.inspirythemes.biz/contact/">Contact</a>
    </li>
</ul>