<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Producto</h4>
</div>
<div class="modal-body">
    <form id="form-producto" method="post" enctype="multipart/form-data" action="{% url 'save_producto' %}">
        {% csrf_token %}
        <input type="hidden" id="id" name="id" value="{{ producto.id|default_if_none:'' }}">
        <div class="row">
            <div class="form-group col-sm-12 col-xs-12">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre"
                       placeholder="Nombre" required="required" autofocus
                       value="{{ producto.nombre|default_if_none:'' }}">
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <label for="descripcion">Descripcion</label>
                <textarea class="form-control" id="descripcion" name="descripcion"
                          rows="2" placeholder="Descripcion"
                          required="required">{{ producto.descripcion|default_if_none:'' }}</textarea>
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <label for="precio">Precio</label>
                <input type="text" class="form-control numeric" id="precio" name="precio"
                       placeholder="Precio" required="required"
                       value="{{ producto.precio|default_if_none:'' }}">
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <label for="descuento">Descuento</label>
                <input type="text" class="form-control numeric" id="descuento"
                       name="descuento"
                       placeholder="Descuento" required="required"
                       value="{{ producto.descuento|default_if_none:'' }}">
            </div>
            <div class="form-group col-sm-12 col-xs-12">
                <label for="imagen">Imagen</label>
                {% if producto.imagen %}
                    <p id="label-imagen" href="#">{{ producto.imagen }}</p>
                {% endif %}
                 <input type="file" class="form-control" id="imagen" name="imagen">
            </div>
            <div class="form-group col-sm-4 col-xs-4">
                <label for="activo">Activo</label>
                {% if producto.activo or not producto.nombre %}
                    <input type="checkbox" id="activo" name="activo" checked>
                {% else %}
                    <input type="checkbox" id="activo" name="activo">
                {% endif %}
            </div>
        </div>
        <button class="btn btn-primary btn-block"
                onclick="guardarProducto()">Guardar <i class="fa fa-save fa-fw"></i>
        </button>
    </form>
</div>