{% extends "arca/base2.html" %}

{% block page-tible %}Ingreso{% endblock %}
{% block breadcrumb %}
<li>
    <a href="{% url 'arca_index' %}">Inicio</a>
</li>
<li class="active">Igreso a comercio</li>
{% endblock %}
{% block main-class %}signUp{% endblock main-class %}
{% block main-content %}
 <div class="row ">
    <div class="col-sm-6 col-xs-12 ">
      <div class="footer clearfix">
        <div class="newsletter clearfix" style=" width: 100% !important; ">
            <h4>Programa de Afiliación</h4>
            <h3>Rigistra tu comercio Ahora!</h3>
            <p>Empieza a gozar de los beneficios de nuestro servicio de afilición de clientes</p>
            <div class="text-center">
                <div class="input-group">
                  <a href="{% url 'registrar_negocio_st1' %}" class="input-group-addon" style="width: 50% !important; float: inherit !important;" id="basic-addon2">Registrar<i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Ya estas registrado?</h3></div>
        <div class="panel-body">
          <form action="#" method="POST" role="form">
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="ckpropietario"> Ingresar como propietario
              </label>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
            <button type="button" class="btn btn-link btn-block">Olvidaste tus credenciales?</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script-block %}
    <script>
    $(document).ready(function () {
        $("section .mainContent").css("padding", "0 0 0 0");
    });
    </script>
{% endblock script-block %}