{% extends "arca/base2.html" %}

{% block page-tible %}REGISTRO DE NEGOCIO{% endblock %}
{% block breadcrumb %}
<li><a href="{% url 'arca_index' %}">Inicio</a></li>
<li class="active">Registro de negocio</li>
{% endblock %}
{% block main-content %}
<div class="row ">
    <div class="col-xs-12 stepsWrapper">
      <div class="innerWrapper clearfix stepsPage">
        <div class="row progress-wizard" style="border-bottom:0;">

          <div class="col-xs-3 progress-wizard-step complete fullBar">
            <div class="text-center progress-wizard-stepnum">General</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="{% url 'registrar_negocio_st1' %}" class="progress-wizard-dot"></a>
          </div>

          <div class="col-xs-3 progress-wizard-step active">
            <div class="text-center progress-wizard-stepnum">Detalles</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="{% url 'registrar_negocio_st2' %}" class="progress-wizard-dot"></a>
          </div>

          <div class="col-xs-3 progress-wizard-step disabled">
            <div class="text-center progress-wizard-stepnum">Autenticación</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="{% url 'registrar_negocio_st3' %}" class="progress-wizard-dot"></a>
          </div>

          <div class="col-xs-3 progress-wizard-step disabled">
            <div class="text-center progress-wizard-stepnum">Confirmacion</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href={% url 'registrar_negocio_st4' %}" class="progress-wizard-dot"></a>
          </div>

        </div>

        <form id="form-wizar" action="{% url 'registrar_negocio_st3' %}" class="row" method="post" role="form">
            {% csrf_token %}
            <input type="hidden" name="nombre_empresa" value="{{ request.session.nombre_empresa }}">
          <div class="col-xs-12">
            <div class="page-header">
              <h4>Dinos mas acerca de ella</h4>
            </div>
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <label for="">RUC/NIT</label>
            <input class="form-control" id="identificacion" name="identificacion" required
                   type="text" value="{{ request.session.identificacion_empresa }}">
          </div>
          <div class="form-group col-sm-6 col-xs-12">
            <label for="">Telefono</label>
            <input class="form-control" id="telefono" name="telefono" required
                type="text" value="{{ request.session.telefono_empresa }}">
          </div>
          <div class="form-group col-xs-12">
            <label for="">Dirección</label>
            <input class="form-control" id="direccion" name="direccion" required
                type="text" value="{{ request.session.direccion_empresa }}">
          </div>
          <div class="col-xs-12">
            <div class="well well-lg clearfix">
              <ul class="pager">
                <li class="previous"><a href="#" >Regresar</a></li>
                <li class="next"><a href="javascript:submit_form()">Continuar</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
{% block script-block %}
    <script>
        $(document).ready(function () {
           $(".previous").onclick(function () {
              history.back();
           });
        });
        function submit_form() {
            $('#form-wizar').submit();
        }
    </script>
{% endblock script-block %}