body {
	color: #373e40;
    background-color: #fff;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}

#banner {
    min-height: 300px;
    border-bottom: none;
}
.page-header {
    margin: 100px 0 20px;
}

.navbar-default {
    background-color: #2885e2;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgba(255,255,255,0.75);
    background-color: transparent;
}